.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: var(--max-app-width);
}
.homeContainer h2 {
  font-size: var(--font-size-title);
}

.professionalInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}
.professionalImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
.professionalInfoContainer div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
}
.clientInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
