.planContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 500;
}
.planBgImage {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}

.arrowIcon {
  font-size: 2.5rem;
}
.planContainer {
  color: var(--background-color);
}
.planInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.planDay {
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  text-shadow: var(--text-shadow);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.individualExercise {
  display: flex;
  justify-content: space-between;
}
.individualExerciseFirstColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  gap: 10px;
}
.individualExerciseFirstColumn p {
  width: 20px;
  height: 20px;
  background-color: var(--background-color);
  border-radius: 50%;
}
.individualExerciseFirstColumn span {
  width: 1px;
  height: 60%;
  background-color: var(--background-color);
}
.individualExerciseSecondColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;

  gap: 10px;
  margin: 0 0 20px 10px;
}
.individualExerciseSecondColumn img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}
.exerciseInfoButton {
  position: absolute;
  transform: translate(-10%, 90%);
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-shadow: var(--text-shadow);
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.individualExerciseSecondColumn div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
